* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #2f363e;
  padding: 30px;
}
.container {
  position: relative;
  width: 600px;
  height: 550px;
  border-radius: 30px;
  background: #2f363e;
  padding: 30px 50px;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25), inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 10px rgba(255, 255, 255, 0.2),
    inset 5px 5px 10px rgba(0, 0, 0, 0.75);
}
h1 {
  width: 100%;
  font-size: 3rem;
  font-weight: 900;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 2rem;
  padding-right: 20px;
  text-align: center;
  margin-top: 3rem;
}
p {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 1rem;
  margin-bottom: 2rem;
  padding-right: 20px;
  text-align: center;
}
.a {
  color: orange;
  text-decoration: none;
}

.app__header {
  margin: 2rem 5rem;
  padding: 1rem;
}
.close-modal {
  margin: 1rem;
  padding: 5px 20px;
  border: none;
  background-color: orange;
  color: #2f363e;
  border-radius: 30px;
}
.close-modal:hover {
  background-color: #fff;
  color: orange;
}

form {
  width: 300px;
  margin-left: 20px;
}
form label {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
  color: orange;
  text-transform: capitalize;
  margin-bottom: 10px;
}
form input {
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid grey;
  border-radius: 6px;
  outline: none;
}
.submit {
  width: 200px;
  height: 40px;
  margin: 4rem;
  border: none;
  background-color: orange;
  color: #a1adbb;
  font-size: 1.5rem;
  border-radius: 50px;
  cursor: pointer;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 500;
}
.submit a {
  text-decoration: none;
  font-weight: 500;
  color: #2f363e;
}
.submit:hover {
  background-color: #fff;
  color: orange;
}
.submit:disabled {
  cursor: not-allowed;
  background-color: gray;
}
/* toggling password*/
.password-input {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: centers;
}
#password-input {
  width: 100%;
}
#togglePassword {
  cursor: pointer;
  background: transparent;
  color: orange;
  right: 10;
  position: absolute;
  border: none;

  & i {
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateY(-50%);
  }
}
/* JS controlled Styles */
.hidden {
  opacity: 0;
  backface-visibility: hidden;
  pointer-events: none;
}
